* {
    margin: 0;
    padding: 0;
}

#container {
    position: relative;
}

.box {
    float: left;
    padding: 5px;
}

.box-img {
    padding: 5px;
    border: solid 1px #ccc;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
}

.box-img img {
    width: 450px;
    height: auto;
}

.titleDiv {
    text-align: center;
    position: relative
}

.titleDiv img{
    height: 300px;
}